header img {
    height: 80px;
}
body {
    height: 125vh;
    background-image: url('https://i.imgur.com/kW1fQkN.png');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
